@import url(//fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);






html {
  background-color: #383838;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poiret One', cursive;
  font-size: 10px;
  position: relative;
  cursor:url('https://cur.cursors-4u.net/special/spe-2/spe114.cur'),pointer ;

}



/*************首頁**************/

/*往上按鈕*/

.top{
position: fixed;
right: 25px;
bottom: 25px;
z-index: 999999;
}
.top img{
width: 30px;
}






.header{

  margin: 10px;   
  margin-left: -55px;
z-index: 99999;
position: relative;
  display: flex;
  justify-content: space-between;
  

}

/*nav style*/



.nav-sublist{
  float:right;
  position: absolute;
  display: none;
  margin: 0;
  padding:0;
  background-color: #9c9b95;
}

.nav-list-item:hover {
  background-color: #d8d5d5;
  
}

.nav-list-item:hover .nav-list-item-link {
  color: #b8b5b5;
}

.nav-list-item:hover .nav-sublist{
  display: block;
  color: #797672;
}

.nav-list .logo{

  margin-left: -760px;
}

.nav-list{
 background-color: #B8B4AF;
 box-shadow: 0px 2px 10px #302f30d7;
  z-index: 9999;
  position: fixed;
float:right;
  display: flex;
margin-top: -10px;
align-items: center;
  margin-left: -6px;
  padding-left: 810px;
  width: 1280px;
  height: 70px;
}

.nav-list-item{
position: relative;
  list-style: none;
}
.nav-list :hover{
  color: rgb(145, 145, 145);
 
}

.nav-list-link{
  width: 120px;
  padding: 10px 20px;
  font-family: 'Noto Serif TC';
  font-weight:lighter;
  font-size: 14px;
  font-weight: 530;
  text-decoration: none;
  color: #ffffff;
  display: flex;
}



.nav-list-item:hover a::after{
content:" ";
position: absolute;
right:50%;
left:50%;
bottom:-5px;
border-bottom:4px solid rgb(255, 255, 255);
transition: .3s;
}
.nav-list-item a:hover::after{
right:0%;
left:0%;
}

.nav-list-link-a{

padding: 10px 20px;
font-family: adamina;
font-weight:lighter;
font-size: 16px;

text-decoration: none;
color: #ffffff;
display: flex;
}

.nav-list-link-b{

  padding: 10px 20px;
  font-family: adamina;
  font-weight: bold;
  font-size: 16px;
  
  text-decoration: none;
  color: #ffffff;
  display: flex;
  }

/*main*/


.about-us-word{
  position: absolute;

  white-space:nowrap;
left: 200px;
top: 120px;
font-family: 'Noto serif TC';
font-style: normal;

font-size: 36px;
line-height: 49px;
/* identical to box height */
overflow: hidden;
letter-spacing: 0.06em;
animation: fadein 8s ease-in;
  opacity: 1;
  transition: .6s;
 
color: #FFFFFF;
}


@keyframes fadein {
  0% {opacity: 0;}
  50% {opacity: 1;}
  
}

.big-logo{

  position: absolute;
  width: 245px;
  height: 303px;
  left: 200px;
  top: 255px;
  animation:  fadein 3s ease-in;
  
  
}

.big-logo :hover{

  transform:translateY(-2px) scale(1.1);
  opacity: 1;
  transition: .6s;
}
.about-us-inform{
  position: absolute;

width: 1ch;
height: 3ch;
left: 550px;
top: 250px;
text-align: left;

font-family: 'Noto Serif TC';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 44px;
letter-spacing: 0.095em;
overflow: hidden;
color: #FFFFFF;
animation: 2s typing steps(40, jump-none) forwards ;
 


}

@keyframes typing{
  from{

width: 1ch;
height: 3ch;
  }
  to{

width:42ch;
height: 20ch;
  }

  from{

    width: 1ch;
    height: 3ch;
      }
      to{
    
    width:42ch;
    height: 20ch;
      }
    
}

.custom-btn {
  margin-left: 240px;
  margin-top: 230px;
  width: 350px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
 
  padding: 10px 25px;
  font-family: 'Noto Serif TC';
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  
  outline: none;

}

/* 1 */
.btn-1 {
  font-size: 16PX;
  font-weight: bold;
  text-align: center;
  
  background: rgb(152, 150, 150);
  background: linear-gradient(0deg, rgb(49, 47, 47) 0%, rgb(42, 42, 44) 100%);
  border: none;
}
.btn-1:hover {
 color: #7a7a7a;
   background: rgb(135, 135, 141);
background: linear-gradient(0deg, rgb(64, 64, 65) 0%, rgb(51, 51, 51) 100%);
}


/*container*/

.about-us-container{
  position: absolute;
  display: block;
 width: 110%;
 height: 530px;
 background-color: #575653;
 box-shadow: 10px 5px 5px rgb(49, 49, 49);
  top: 630px;
  color: #ffffff;
  font-family: 'Noto serif TC';
 padding-left:100px;
}

.about-us-container-text{
  margin-left: 40px;
  margin-top: 40px;
  text-align: left;
  font-size: 30px;
  white-space: nowrap;
  animation:  fadein 2s ease-in-out;
}

.about-us-card-body{
  width: 100%;
  animation:  fadein 2s ease-in-out;
  margin: 0px;
  padding: 30px;
  margin-right: 40px;
  display: flex;
}

.about-us-card-body img{
  margin-top: -50px;
margin-right: -70px;
}

.about-us-card-body :hover img{
  transform:translateY(-20px) scale(1);
  opacity: 1;
  transition: .6s;

}


.card-body1{
  margin-top: 30px;
 margin-right: 70px;
}

.card-body2{
  margin-top: 30px;
  margin-right: 100px;
 }
 .card-body3{
  margin-top: 30px;
  margin-right: 100px;
 }
 .card-body4{
  margin-top: 30px;
  margin-right: 100px;
 }

 .card-title{

  text-align: center;
  font-size: 20px;
  margin: 20px;

 }

 .card-text{
  margin: -10px;
  text-align: center;
  font-size: 13px;
 }

 /*如何委託*/

 .how-to-commision-page{
  position: absolute;
  margin: 0;
  top:500px;
margin-left: -52px;
width: 100%;
height: 1820px;
background-color: #292928;

}

.how-to-commision-page img{
  animation: moveToLeft 1s ease-in-out;
  width: 800px;
  margin-top: -250px;
  margin-left: 400px;
}

.commision-page-body1 :hover {
  transform:translateY(-20px) scale(1);
  opacity: 1;
  transition: .6s;
}
.commision-page-body2 :hover {
  transform:translateY(-20px) scale(1);
  opacity: 1;
  transition: .6s;
}
.commision-page-body3 :hover {
  transform:translateY(-20px) scale(1);
  opacity: 1;
  transition: .6s;
}

.commision-page-body2 img{
 
margin-top: -250px;
  margin-left: 60px;
  animation: moveToRight 1s ease-in-out;
}



.how-to-commision-page-text{
  margin-top: 100px;
  margin-left: 70px;
font-size: 30px;
animation: moveToRight 1s ease-in-out;
}

.stepbutton1{
  margin-top: 170px;
  text-align: center;
font-family: 'adamina';
  font-size: 15px;
  width: 76px;
  border-radius: 20px;
  height: 40px;
  padding: 10px 10px 10px 10px;
  background-color: #454545;
  box-shadow: 5px 5px 5px rgb(49, 49, 49);
  margin-left: 70px;
  animation: moveToRight 1s ease-in-out;
 
}

.stepbutton-2{

font-family: 'adamina';
margin-top: 270px;
  font-size: 15px;
  width: 76px;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  padding: 10px 10px 10px 10px;
  background-color: #454545;
  box-shadow: 5px 5px 5px rgb(49, 49, 49);
  margin-left: 890px;
  animation: moveToLeft 1s ease-in-out;
 
}
.stepbutton-3{
  margin-top: 260px;
  text-align: center;
font-family: 'adamina';
  font-size: 15px;
  width: 76px;
  border-radius: 20px;
  height: 40px;
  padding: 10px 10px 10px 10px;
  background-color: #454545;
  box-shadow: 5px 5px 5px rgb(49, 49, 49);
  margin-left: 70px;
  animation: moveToRight 1s ease-in-out;
 
}

.px-1{
  margin-left: 80px;
  margin-top: 30px;
  font-size: 20px;
  animation: moveToRight 1s ease-in-out;
}
.py-1{
  margin-left: 80px;
  margin-top:-10px;
  font-size: 15px;
  animation: moveToRight 1s ease-in-out;
}

.px-2{
  margin-left: 900px;
  margin-top: 30px;
  font-size: 20px;
  animation: moveToLeft 1s ease-in-out;
}
.py-2{
  margin-left: 900px;
  margin-top:-10px;
  font-size: 15px;
  animation: moveToLeft 1s ease-in-out;
}

.px-3{
  margin-left: 80px;
  margin-top: 30px;
  font-size: 20px;
  animation: moveToRight 1s ease-in-out;
}
.py-3{
  margin-left: 80px;
  margin-top:-10px;
  font-size: 15px;
  animation: moveToRight 1s ease-in-out;
}


/*TOTORU*/

.totorutitle{
  animation: moveToRight 1s ease-in-out;
  position: relative;
  color: white;
  font-size: 30px;
  font-family: 'Noto serif TC';
  margin-top: 680px;
  margin-left: 120px;

}

.about-totoru{
  position: absolute;
  margin-left: 80px;
  margin-top:2400px;
  z-index: 999;
}

.short-line-t{
  position: absolute;
width: 180.01px;

left: 122px;
top: 780px;


}

.lone-line-t{
  position: absolute;
width: 573px;

left: 122.01px;
top: 1036.99px;


}

.totoru-introduce{
  position: absolute;
  width: 522px;
  font-family: 'Noto Serif TC';
  height: 176px;
  left: 122px;
  top: 800px;
  text-align: left;
  
  
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 44px;
  letter-spacing: 0.095em;
  
  color: #FFFFFF;
  animation: 2s typing steps(28, jump-none) forwards ;
}

.ig-t{
  position: absolute;
width: 100px;
height: 100px;
left: 130px;
top: 970px;

background: url(ig.png);
}
.fb{
  position: absolute;
width: 90px;
height: 90px;
left: 251px;
top: 1173px;

background: url(facebook.png);
}

.totoru{
  position: absolute;
  width: 240px;
  height: 39.23px;
  left: 840px;
  top: 1050px;
  
  font-family: 'Noto Serif TC';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.095em;
  animation: moveToLeft 1s ease-in-out;
  color: #FFFFFF;
}

.head-icon-t{
  position: absolute;
width: 300px;
height: 300px;
left: 807px;
top: 750px;
animation: moveToLeft 1s ease-in-out;

}

.head-icon-t :hover{

  transform:translateY(-20px) scale(1);
  opacity: 1;
  transition: .6s;
 
}

/*brown*/

.about-brown{
position: relative;
  margin-top: 2400px;
 right: 550px;
 z-index: 999;
}

.short-line-b{
  position: absolute;
width: 180.01px;

left: 509px;
top: 1321px;



}

.long-line-b{
  position: absolute;
width: 573px;

left: 509px;
top: 1555px;




}

.ig-t{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 130px;
  top: 1070px;
  
  background: url(img/ins.png);
}

.ig-t :hover{
  transform:translateY(-10px) scale(1);
  opacity: 1;
  transition: .6s;
}

.browncofe-introduce{
  position: absolute;
width: 522px;
height: 176px;
left: 509px;
top: 1331px;
text-align: left;

font-family: 'Noto Serif TC';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 44px;
letter-spacing: 0.095em;
animation: 2s typing steps(28, jump-none) forwards ;
color: #FFFFFF;

}

.browncofe{
  position: absolute;
width: 326px;
height: 44px;
left: 100px;
top: 1606px;

font-family: 'Noto Serif TC';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
/* identical to box height */

text-align: center;
letter-spacing: 0.095em;

color: #FFFFFF;
animation: moveToRight 1s ease-in-out;
}

.browncofe-icon{
  position: absolute;
width: 300px;
height: 300px;
left: 110px;
top: 1308px;
animation: moveToRight 1s ease-in-out;


}

.browncofe-icon :hover{
  transform:translateY(-20px) scale(1);
  opacity: 1;
  transition: .6s;
}

@keyframes moveToRight {
  0% {
      transform: translateX(-270px);
  }
  100% {
      transform: translateX(0px);
  }
}

@keyframes moveToLeft {
  0% {
      transform: translateX(270px);
  }
  100% {
      transform: translateX(0px);
  }
}

.twitter{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 898px;
  top: 1590px;
}

.twitter :hover {

    transform:translateY(-10px) scale(1);
    opacity: 1;
    transition: .6s;
  
}

.ig-b{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 998px;
  top: 1580px;
  
  background: url(img/ins.png);
}

.ig-b :hover{

    transform:translateY(-10px) scale(1);
    opacity: 1;
    transition: .6s;
  
}

.fb{
  top:1075px;
}

.fb :hover{

    transform:translateY(-10px) scale(1);
    opacity: 1;
    transition: .6s;
  
}


/*contact us*/

.contact-us{
  position: absolute;
width: 278px;
height: 49px;
left: 280px;
top: 4250px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 49px;
/* identical to box height */

letter-spacing: 0.06em;

color: #FFFFFF;

}

#contact {
  
  
position: relative;
  right:350px;
  overflow: auto;
}
#contact #form {

  margin-top: 1950px;
  width:800px;
  
  float:left;
}
#contact #form h2 {
  bottom: 10px;
  font: 48px 'Noto Serif TC';
}
#contact #form span {
  right: 500px;
  display:block;
  float:left;
  width:800px;
  padding-top:5px;
  color: #F1F1F1;
  font: 14px/35px 'Noto Serif TC', Georgia, serif;
}
#contact #form input {
  float:left;
  width:800px;
  border:0px;
  color:#585555;
  padding:10px 10px 10px 30px;
  font: 11px/20px 'Noto Serif TC', Verdana, Helvetica, sans-serif;
  margin-bottom:10px;
}
#contact #form textarea {
  float:left;
  border:0px;
  width:800px;
  height:140px;
  padding:10px 10px 10px 30px;
  font: 11px/20px 'Noto Serif TC', Verdana, Helvetica, sans-serif;
  color:#585555;
  resize: none;
}
#contact #form input.name {
  background:#ebebeb url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png) no-repeat 10px 8px;
}
#contact #form input.email {
  background:#ebebeb url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png) no-repeat 10px 9px;
}
#contact #form input.captcha {
  background:#ebebeb url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat 10px 9px;
}
#contact #form textarea.message {
  background:#ebebeb url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 10px 8px;
}
#contact #form input.submit {
  cursor: pointer;
  width:800px;
  height:30px;
  float:right;
  padding:0px 0px 5px 0px;
  margin:10px 0px 0px 0px;
  background:#222222;
  color:#F1F1F1;
  font: 14px/16px'adamina';
}




#contact #captcha span{
  width: 44px;
}
#contact #captcha input{
  background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
  margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}


/*繪師資訊*/

.inform{
  position: relative;
  right: 630px;
top: -2300px;
}

.totoru-inform{
  position: absolute;
width: 262px;
height: 44px;
left: 270px;
top: 2432px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 44px;
/* identical to box height */

text-align: center;
letter-spacing: 0.14em;

color: #FFFFFF;
animation: fadein 2s ease-in;

}

.totoru-gmail{
  position: absolute;
width: 342px;
height: 33px;
left: 300px;
top: 2491px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.14em;

color: #FFFFFF;
animation: fadein 2s ease-in;
}

.totoru-phone{
  position: absolute;
width: 223px;
height: 33px;
left: 320px;
top: 2530px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.14em;

color: #FFFFFF;
animation: fadein 2s ease-in;
}

.gmail-t{
  position: absolute;
width: 30px;
height: 30px;
left: 300px;
top: 2515px;
animation: fadein 2s ease-in;
}

.phone-t{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 300px;
top: 2555px;
animation: fadein 2s ease-in;

}

.browncofe-inform{
  position: absolute;
width: 337px;
height: 44px;
left: 740px;
top: 2432px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 44px;
/* identical to box height */

text-align: center;
letter-spacing: 0.095em;

color: #FFFFFF;
}

.browncofe-gmail{
  position: absolute;
width: 373px;
height: 33px;
left: 760px;
top: 2490px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.14em;

color: #FFFFFF;
animation: fadein 2s ease-in;
}

.browncofe-phone{
  position: absolute;
width: 223px;
height: 33px;
left: 780px;
top: 2530px;

font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.14em;

color: #FFFFFF;
animation: fadein 2s ease-in;
}

.gmail-b{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 770px;
top: 2510px;


animation: fadein 2s ease-in;
}

.phone-b{
  position: absolute;
  width: 30px;
  height: 30px;
  left: 770px;
top: 2550px;
animation: fadein 2s ease-in;

}

/*footer */

.footer1{
  background-color: #B8B4AF;
  margin-top: 400px;
  margin-left: -600px;
  width: 100%;
  height: 83px;
    position: absolute;
   display: block;
    z-index: 999;
  
  
  }
  
  .social{
   margin: 10px;
      position: absolute;
      margin-top: 20px;
      margin-left: 1100px;
      margin-right: 50px;
     display: flex;
    
    
    
    }
  
    .social img{
     
         margin:5px;
         margin-right: 10px;
        
       
       
       }


       .social :hover{
   
        transform:translateY(-2px) scale(1);
        opacity: 1;
        transition: .6s;
       opacity: 0.7;
      
      
      }
  
    .menu{
      font-size: 13px;
      font-family: adamina;
  display: flex;
  margin-top: 35px;
  margin-left: 50px;
      position: absolute;
      list-style-type: none;
    }
  
    .footer li{
      position: relative;
      list-style: none;
      margin: 0px;
      display: inline-block;
  }
  
  .menu a{
    color: #ffffff;
    text-transform: capitalize;
    margin-left: 25px;
    text-decoration-line: none;
  }
  .menu a:hover{
    color: #ded2ca;
    transition: 0.5s;
  }
  
  .footer-copyright{
    
    color: #ffffff;
  margin-left: 570px;
  margin-top: 20px;
  font-size: 15px;
  width: auto;
    text-transform: capitalize;
  }
  
  .footer-copyright p{
    
    position:absolute;
    font-family: adamina;
    margin-bottom: 0px;
  }
  
  
  